:root {
  --primary-color: #e50914;
  --dark-color: #141414;
} /* CSS Variable or Custom Properties*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} /* Resetting, to remove in the entire document the default margin , padding and so om*/

body {
  font-family: Arial, sans-serif;
  background: #000;
  color: #999;
}

ul {
  list-style: none;
  display: inline;
}

h1,
h2,
h3,
h4 {
  color: #ffffff;
}


img {
  width: 100%;
}

/* Navbar Start here*/
.navbar {
  padding: 0 8rem 1rem;
  
}

.navbar-brand {
  font-family: Arial, sans-serif;
  font-weight: bold;
  width: 10rem;
}

.nav-item {
  padding: 0 5px;
}

.nav-link {
  font-size: 1rem;
  font-family: Arial, sans-serif;
}


/* Navbar End here*/


.showcase {
  width: 100%;
  height: 50vh; /*viewport height*/
  position: relative;
  background: url(../img/background.jpg) no-repeat center center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}
.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
}


.showcase-top .about-us {
  position: absolute;
  top: 200%;
  left: 18%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  opacity: .4;
}

.about-us-content{
  max-width: 80%;
  margin: 30px auto;
  margin-bottom: 10%;
  text-align: justify;
    color: gray;
  line-height: 1.5;
  font-size: 1rem;
}

.about-us-content ol{
  margin: 0 20px;
}

.line1{
  margin-bottom: 70px;
}



.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
  z-index: 2;
}


/* Footer */

.footer {
  max-width: 75%;
  margin: 1rem auto;
  overflow: auto;
}

.footer,
.footer a {
  color: #999;
  font-size: 0.9rem;
}

.footer p {
  margin-bottom: 1.5rem;
}

.footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.footer li {
  line-height: 1.9;
}

.footer h4 {
  font-size: 1rem;
margin-top: 30px;
color: #999;
}

.footer h2 {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 30px;
  color: #999;
}

/* Container */

.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* SETTING UP CONSTANT PARAMS */

/* TEXT STYLE */
.text-xl {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-lg {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.text-md {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.text-center {
  text-align: center;
}

.text-dark {
  color: white;
}

/* Button Utility Class */
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: left;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 1rem;
  padding: 0.8rem 2.1rem;
  text-transform: uppercase;
}

.btn-icon {
  margin-left: 1rem;
}

/* Media Query */
@media (max-width: 960px) {
  .showcase {
    height: 50vh;
  }
  .hide-sm {
    display: none;
  }

  .showcase-top img {
    top: 5%;
    left: 5%;
    transform: translate(0);
  }

  .showcase-top .about-us {
    position: absolute;
    top: 200%;
    left: 32%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    opacity: .4;
  }

  .showcase-content p {
    font-size: 1.5rem;
  }

  .footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-xl {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
  }

  .text-lg {
    font-size: 1.5rem;
  }

  .text-xl {
    font-size: 1.3rem;
  }

  .text-md {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .showcase::after {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 80px 80px 250px #000000, inset -80px -80px 250px #000000;
  }

  #tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #tab-2-content .tab-2-content-top {
    display: block;
    text-align: center;
  }

  #tab-2-content .tab-2-content-bottom {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    text-align: center;
  }

  .btn-xl {
    font-size: 1rem;
    padding: .6rem 1rem;
  }

  .text-lg {
    font-size: 1rem;
  }

  .text-xl {
    font-size: 1rem;
  }

  .text-md {
    font-size: .8rem;
  }

}